.page__container {
  margin: 0 auto;
  width: 320px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}
